<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partial "head.html" . }}
  <body class="list-body">
    {{ partial "nav-bar.html" . }}
    <main class="card-container side-gutter">
      {{ if or (not (eq .Description "")) (not (eq .Title "")) -}}
      <header class="home-header" style="background-image: url('{{ .Site.Params.WebLogo | relURL }}');">
        <div class="home-blob-text-container">
        {{ with .Title }}<h1 class="home-blob-title"></h1>{{ end }}
        {{ with .Description }}<p class="home-blob-text">{{ . }}</p>{{ end }}
        </div>
        {{ with resources.GetMatch .Site.Params.headshotimg -}}
        <div class="home-faceshot-card">
          <img class="home-faceshot" src="{{ .Permalink }}" >
        </div>
        {{ end -}}
      </header>
      {{- end }}
      {{ with .Content -}}
      <section class="list-header-content">
        {{ . }}
      </section>
      {{- end }}
      {{ $pages := .Pages }}
      {{ if .IsHome }}
      {{ $pages = .Site.RegularPages }}
      {{ end }}
      {{ $paginator := .Paginate (where $pages "Params.displayinlist" "!=" false) -}}
      {{- range $paginator.Pages -}}
        {{ .Render "li" }}
      {{- end }}
    </main>
    {{ if or ($paginator.HasPrev) ($paginator.HasNext) -}}
    <nav class="pagination-nav side-padding">
      {{ if $paginator.HasPrev }}<a href="{{ $paginator.Prev.URL }}" class="pagination-newer pagination-text">&lt; Newer Posts</a>{{ end }}
      {{ if $paginator.HasNext }}<a href="{{ $paginator.Next.URL }}" class="pagination-older pagination-text">Older Posts &gt;</a>{{ end }}
    </nav>
    {{- end }}
    {{ partial "scripts.html" . }}
  </body>
</html>
